$mainColor: #ffee97;
$darkColor: #f15a24;
$screensColor: #fbb03b;

%center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: none;
  padding: none;
  font-family: "Roboto", sans-serif;
}

body {
  @extend %center ;
  background-color: $mainColor;

  .icons {
    transform: translateY(0) scale(0);
    width: 91px;

    @extend %iconsAnimation;
  }

  .icons:nth-child(1) {
    animation-delay: 0.1s;
  }

  .icons:nth-child(2) {
    animation-delay: 0.2s;
  }

  .icons:nth-child(3) {
    animation-delay: 0.3s;
  }

  .logoName {
    @include glow(0.7s);
    z-index: -1;
    display: flex;
    align-self: center;
    width: 256px;
    margin: 0 0 120px 0;

    &--smallsize {
      @extend .logoName;
      margin: 30px 0 0 0;
      width: 208px;
    }
  }

  .startBtn {
    @include glow(1.3s);

    width: 208px;
    height: 52px;
    background-color: $darkColor;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
    color: $screensColor;

    &:hover {
      background-color: $screensColor;
      color: $darkColor;
    }
  }
  
}

.endSite {
  display: block;
  align-self: center;
  position: fixed;
  bottom: 8px;

  .endSite__text {
    color: $darkColor;
    font-size: 12px;
    font-weight: 500;
  }

}