%textMarginAlignWeight {
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.finalScreen {
  @extend %center;
  .finalgame__mensager {
    @extend %textMarginAlignWeight;
    font-size: 32px;
  }

  .finalgame__winner {
    @extend %textMarginAlignWeight;
    text-align: center;
    font-size: 20px;
  }

  .finalgame__win {
    @extend %textMarginAlignWeight;
    text-align: center;
    font-size: 25px;
  }

  .resultScore {
    height: 150px;
    border: 2px $darkColor solid;
    width: 300px;
    border-radius: 8px;
    padding: 5px;
    .resultScore__text {
      @extend %textMarginAlignWeight;
      font-size: 15px;
    }

  }
  
  .endGame {
    font-size: 15px;
    @extend %textMarginAlignWeight;
    margin: 1em 0 1em 0;
  }

}
