* {
  margin: none;
  padding: none;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffee97;
}
body .icons {
  transform: translateY(0) scale(0);
  width: 91px;
  -webkit-animation: bounce 1s both;
          animation: bounce 1s both;
}
@-webkit-keyframes bounce {
  50% {
    transform: translateY(50px) scale(2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
@keyframes bounce {
  50% {
    transform: translateY(50px) scale(2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
body .icons:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
body .icons:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
body .icons:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
body .logoName, body .logoName--smallsize {
  -webkit-animation: showMe;
          animation: showMe;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: -1;
  display: flex;
  align-self: center;
  width: 256px;
  margin: 0 0 120px 0;
}
@-webkit-keyframes showMe {
  to {
    opacity: 1;
  }
}
@keyframes showMe {
  to {
    opacity: 1;
  }
}
body .logoName--smallsize {
  margin: 30px 0 0 0;
  width: 208px;
}
body .startBtn {
  -webkit-animation: showMe;
          animation: showMe;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 208px;
  height: 52px;
  background-color: #f15a24;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 32px;
  cursor: pointer;
  color: #fbb03b;
}
@keyframes showMe {
  to {
    opacity: 1;
  }
}
body .startBtn:hover {
  background-color: #fbb03b;
  color: #f15a24;
}
body #endSite {
  display: flex;
  align-self: center;
  position: fixed;
  bottom: 8px;
}
body #endSite #endSite__text {
  color: #f15a24;
  font-size: 12px;
  font-weight: 500;
}

#startScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#startScreen .startScreen__container {
  display: flex;
  width: 275px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}

#gameScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.scoreboardChoices {
  display: flex;
  flex-direction: row;
  width: 290px;
  margin-top: 50px;
  background-color: red;
  justify-content: space-between;
}
.scoreboardChoices #player {
  width: 92px;
}
.scoreboardChoices #player .player__counter {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.scoreboardChoices #player .player__choice {
  height: 91px;
  width: 91px;
  background-color: #f15a24;
}
.scoreboardChoices .scoreboardChoices__X {
  font-size: 40px;
  margin: 0;
  text-align: center;
  font-weight: 700;
}
.scoreboardChoices #computer {
  width: 92px;
}
.scoreboardChoices #computer .computer__counter {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.scoreboardChoices #computer .computer__choice {
  height: 91px;
  width: 91px;
  background-color: #f15a24;
}

#resultPhase {
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.choices {
  display: flex;
  flex-direction: row;
}

#finalScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#finalScreen .finalgame__Mensager {
  font-weight: 700;
  text-align: center;
  margin: 0;
  font-size: 32px;
}
#finalScreen .finalgame__winner {
  font-weight: 700;
  text-align: center;
  margin: 0;
  text-align: center;
  font-size: 20px;
}
#finalScreen .finalgame__win {
  font-weight: 700;
  text-align: center;
  margin: 0;
  text-align: center;
  font-size: 25px;
}
#finalScreen #resultScore {
  height: 150px;
  border: 2px #f15a24 solid;
  width: 300px;
  border-radius: 8px;
  padding: 5px;
}
#finalScreen #resultScore .resultScore__text {
  font-weight: 700;
  text-align: center;
  margin: 0;
  font-size: 15px;
}
#finalScreen .restartGame {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin: 1em 0 1em 0;
}/*# sourceMappingURL=main.css.map */